@font-face {
    font-family: 'Mulish-Regular';
    font-weight: 400;
    src: url("../fonts/mulish-regular.woff") format("woff");
}

@font-face {
    font-family: 'Mulish-Medium';
    font-weight: 500;
    src: url("../fonts/mulish-medium.woff") format("woff");
}

@font-face {
    font-family: 'Mulish-Bold';
    font-weight: 700;
    src: url("../fonts/mulish-bold.woff") format("woff");
}

@font-face {
    font-family: 'Mulish-Black';
    font-weight: 900;
    src: url("../fonts/mulish-black.woff") format("woff");
}

:root {
    --white: #fff;
    --black: #000;

    --orange: #ef7b45;
    --light-blue: #6FFFE9;
    --blue: #5BC0BE;
    --dark-blue: #1C2541;

    --t-shirt-color: #F2F2F2;
}

body {
    margin: 0;
    box-sizing: border-box;
    
    background-color: var(--dark-blue);

    font-family: 'Mulish-Regular', sans-serif;
    font-weight: 400;
    color: var(--white);
}

br {
    display: none;
}

main {
    padding: 0 1rem 5rem;
}

h2 {
    margin-top: 2.5rem;

    font-family: 'Mulish-Black', sans-serif;
    font-weight: 900;
    font-size: 1.8rem;
    color: var(--light-blue);

    text-align: center;
}

p {
    font-family: 'Mulish-Regular', sans-serif;
    font-weight: 400;
}

a:not(header a),
.choose-size form button,
.design ul li label:last-of-type button,
.design ul li label:last-of-type span:nth-of-type(2),
.order button {
    padding: .5rem .8rem;
    border: none;
    border-radius: .5rem;

    background-color: var(--orange);
    text-decoration: none;
    text-transform: uppercase;

    font-family: 'Mulish-Regular', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: var(--black);

    transition: background-color 250ms ease;
    cursor: pointer;
}

a:not(header a):hover,
.choose-size form button:hover,
.design ul li label:last-of-type button:hover,
.design ul li label:last-of-type span:nth-of-type(2):hover,
.order button:hover {
    background-color: hsl(19, 84%, 50%);
    cursor: pointer;
}



/* Hearder */
header nav {
    padding: .5rem 1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: var(--white);
    text-decoration: none;
}

header a h1 {
    margin: 0;

    font-family: 'Mulish-Black', sans-serif;
    font-weight: 900;
    font-size: 1.5rem;
    color: var(--white);
}

header nav a:last-of-type {
    font-size: 0;
}

header nav a svg {
    width: 2rem;
    height: 2rem;

    display: block;

    stroke: var(--white);
}



/* Home */
main section {
    height: 80dvh;
    display: grid;
    place-items: center;
}

main section h2 {
    max-width: 11em;
    margin: 1rem 0;

    font-family: 'Mulish-Black', sans-serif;
    font-weight: 900;
    font-size: 2rem;
    color: var(--light-blue);

    text-transform: uppercase;
    text-align: center;
}

main section svg {
    width: 100%;
    height: 15em;

    stroke: var(--white);
}

main section a {
    font-family: 'Mulish-Regular', sans-serif;
    font-weight: 400;
}



/* Overview */
.overview section {
    height: auto;
}

.overview ul {
    padding: 0;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

    list-style-type: none;
}

@media only screen and (min-width: 768px) {
    .overview ul {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media only screen and (min-width: 1024px) {
    .overview ul {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.overview li {
    min-height: 10em;
    height: auto; 
    border: .2rem solid var(--light-blue);
    border-radius: 1rem;
}

.overview li:first-of-type svg {
    width: 40%;
}

.overview li a {
    height: 100%;
    padding: 0;

    display: flex;
    flex-direction: column;
    place-items: center;
    justify-content: center;

    position: relative;

    font-size: 0;
    color: var(--white);

    background: transparent;
}

.overview li a:hover {
    background: transparent;
}

.overview div {
    width: 100%;
    height: 70%;
    position: relative;
    top: -1.25rem;
}

.overview li div svg {
    width: 100%;
    height: auto;
}

.overview li div p {
    margin: 0;

    display: block;

    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: .6rem;
    text-align: center;
    text-transform: initial;
}

.overview li div img {
    width: 25%;

    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.overview li p {
    margin: 0;
    font-size: .7rem;
    display: inline-block;
}

.overview section {
    display: flex;
    flex-direction: column;
}

.overview .hide {
    display: none;
}

@media only screen and (min-width: 25rem) {
    .overview li div p {
        font-size: .8rem;
    }
    .overview li p {
        margin: .1rem 0;
        font-size: .8rem;
    }
}

@media only screen and (min-width: 40rem) {
    .overview li div p {
        font-size: 1rem;
    }
    .overview li p {
        margin: .3rem 0;
        font-size: 1rem;
    }
}

@media only screen and (min-width: 48rem) {
    .overview li div p {
        top: 40%;
        font-size: 1rem;
    }
    .overview li div img {
        top: 65%;
    }
    .overview li p {
        margin: .5rem 0;
        font-size: 1.2rem;
    }
}

@media only screen and (min-width: 90rem) {
    .overview li div p {
        top: 45%;
    }
    .overview li div img {
        top: 70%;
    }
}



/* Choose-size */
.choose-size h2,
.choose-size section {
    max-width: 30rem;
    margin: 0 auto;
}

.choose-size h2 {
    margin: 2.5rem auto 1rem;
}

.choose-size a,
.design a,
.shoppingcart a:first-of-type {
    padding-right: 1.3rem;
    margin-top: 1rem;

    display: inline-flex;
    align-items: center;
    gap: .5rem;
}

.choose-size a svg,
.design a svg,
.shoppingcart a svg {
    width: 1.5rem;
    height: 1.5rem;

    stroke: var(--black);
}

.choose-size h2 {
    text-align: left;
}

.choose-size section,
.design section {
    height: auto;

    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}

.choose-size section h3 {
    width: 100%;
    margin: 1rem 0;

    font-family: 'Mulish-Bold', sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
}

.choose-size section h3:first-of-type {
    margin: 0 0 1rem;
}

.choose-size section input {
    appearance: none;
    position: absolute;
}

.choose-size section input:checked + label {
    border-radius: .5rem;
    background-color: var(--orange);
    color: var(--black);
}

.choose-size section label {
    padding: .5rem .8rem;
    
    display: inline-block;

    font-size: 1rem;
}

.choose-size section p {
    width: 100%;
    margin: 2rem 0 1.5rem;

    font-size: 1rem;
    line-height: 1.5rem;
}



/* Design */
.design nav {
    width: calc(100% - 2rem);
    height: 4rem;
    border-radius: .5rem;

    position: fixed;
    left: 1rem;
    bottom: 1rem;

    background-color: var(--light-blue);
}

.design nav ul {
    height: 100%;
    padding: 0;
    margin: 0;

    display: flex;

    list-style-type: none;
}

.design nav ul li {
    max-width: calc(100% / 4);
    width: 100%;
    max-height: 4rem;
    display: flex;
    justify-content: center;
}

.design ul li label:first-of-type {
    height: 100%;

    display: flex;
    align-items: center;

    position: relative;

    color: var(--black);
}

.design ul li label:nth-of-type(2) {
    display: none;
}

.design ul li label:first-of-type input {
    appearance: none;
    position: absolute;
    inset: 0;
}

.design ul li:last-of-type a,
.design ul li label {
    font-size: 0;
    background: transparent;
}

.design ul li:first-of-type label:last-of-type span:first-of-type {
    margin-bottom: 1rem;
    display: block;
}

.design ul li:first-of-type label:last-of-type span:nth-of-type(2) {
    display: inline-block;
    margin: .5rem 0 0 1rem;
}

#color {
    padding: 0 0.2em;
    margin: 0 1rem;
}

#text {
    padding: 0.5em;
    border: none;
    /* border: .125rem solid var(--dark-blue); */
    border-radius: .3rem;
    margin: .5rem .5rem .5rem 1rem;

    font-family: 'Mulish-Regular', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

.design ul li:first-of-type label:last-of-type input {
    display: none;
} 

.design ul li label:last-of-type button {
    margin: 0 1rem 0;
}

.design ul li svg {
    width: 2rem;
    height: 2rem;

    display: block;

    stroke: var(--dark-blue);
}

.design nav ul li:last-of-type a {
    margin: 0;
    padding: 0;
}

.design section:nth-of-type(2)  {
    position: relative;
    z-index: -1;
}

.design section:nth-of-type(2) svg {
    width: 100%;
    height: 25em;

    position: relative;
    z-index: -1;

    fill: var(--white);
    stroke: var(--white);
}

.design .uploaded-image {
    max-width: 6.25rem;
    position: absolute;
    top: 10.625rem;
    left: 50%;
    transform: translateX(-50%);
}

.design .uploaded-text {
    position: absolute;
    top: 7.8125rem;
    left: 50%;
    transform: translateX(-50%);
}

.design section ul li:last-of-type form {
    width: 100%;

    display: flex;
    justify-content: center;
}

.design section ul li:last-of-type form button {
    width: 100%;
    border: none;
    border-radius: .5rem;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: transparent;

    font-size: 0;

    transition: background-color 250ms ease;
    cursor: pointer;
}

.design section ul li:last-of-type form button:hover {
    background-color: var(--orange);
}

.design section ul li:last-of-type form button svg {
    transition: stroke 250ms ease;
}

.design section ul li:last-of-type form button:hover svg {
    stroke: var(--black);
}

@media only screen and (min-width: 410px) {
    .design .uploaded-text {
        font-size: 24px;
        margin: 0;
    }

    .design .uploaded-image {
        top: 179.2px;
    }

    .design ul li label:last-of-type button {
        margin: 0 16px 0 0;
    }
}

@media only screen and (min-width: 768px) {
    .design {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .design a,
    .design h2 {
        grid-column-start: 1;
        grid-column-end: 3;
        max-width: fit-content;
    }
    .design h2 {
        margin: 40px auto;
    }
    .design section {
        justify-content: center;
    }
    .design section nav {
        max-width: 450px;
        height: auto;
        position: relative;
    }
    .design section nav ul {
        flex-direction: column;
    }
    .design nav ul li {
        max-width: 100%;
        max-height: inherit;

        justify-content: flex-start;
        align-items: center;
    }
    .design ul li label:first-of-type {
        padding: 16px;
    }
    .design ul li label:nth-of-type(2) {
        padding: 8px 16px;
        display: block;
    }
    .design ul li:first-of-type label:last-of-type span:first-of-type {
        margin: 4.8px 0;
        font-size: 16px;
        color: var(--dark-blue);
    }
    .design ul li:first-of-type label:last-of-type span:nth-of-type(2) {
        margin: 0;
    }
    .design ul li label:first-of-type input {
        inset: auto;
    }
    #text {
        margin: 0 8px 8px 0;
    }
    .design section ul li:last-of-type form button {
        padding: .5rem;

        display: flex;
        gap: .5rem;
        
        font-family: 'Mulish-Regular', sans-serif;
        font-weight: 400;
        font-size: 1rem;

        transition: all 250ms ease;
    }
    .design section ul li:last-of-type form button:hover {
        color: var(--black);
    }
    .design section ul li:last-of-type form button svg {
        order: -1;
    }
}

@media only screen and (min-width: 1024px) {
    .design section:nth-of-type(2) svg {
        height: 35em;
    }
    .design .uploaded-image {
        max-width: 160px;
        top: 240px;
    }
    .design .uploaded-text {
        top: 176px;
    }
}

@media only screen and (min-width: 1536px) {
    .design section:nth-of-type(2) svg {
        height: 45em;
    }
    .design .uploaded-image {
        max-width: 240px;
        top: 304px;
    }
    .design .uploaded-text {
        top: 240px;
    }
}



/* Shopping cart */
.shoppingcart table thead tr th {
    width: 35%;
    padding-right: .5rem;

    font-family: 'Mulish-bold', sans-serif;
    font-weight: 700;
    text-align: left;
}

.shoppingcart table thead tr th:first-of-type,
.shoppingcart table tbody tr td:first-of-type {
    display: none;
}

.shoppingcart table tbody tr td {
    padding-right: .5rem;
}

.shoppingcart table tbody tr td:first-of-type img {
    width: 4rem;
} 

.shoppingcart table tbody tr td span {
    display: block;
}

.shoppingcart table tbody tr td span:last-of-type {
    font-family: 'Mulish-bold', sans-serif;
    font-weight: 700;
    color: var(--orange);
}

.shoppingcart table tbody button {
    padding: .5rem .5rem;
    border: none;
    border-radius: .3rem;

    font-size: 0;

    background: var(--white);
}

.shoppingcart table tbody button svg {
    width: 1.5rem;
    height: 1.5rem;

    stroke: red;
}

.shoppingcart table + p {
    margin: 1rem 0;
}

.shoppingcart table + p span {
    font-family: 'Mulish-bold', sans-serif;
    font-weight: 700;
    color: var(--light-blue);
}

.shoppingcart p + a {
    margin: 1rem 0 .5rem;

    display: inline-block;
}

@media only screen and (min-width: 370px) {
    .shoppingcart table {
        width: 100%;
        max-width: 700px;
        margin: 0 auto;
    }
    .shoppingcart table thead tr th:first-of-type,
    .shoppingcart table tbody tr td:first-of-type {
        display: table-cell;
    }
    .shoppingcart table tbody tr td:first-of-type div {
        width: fit-content;
        position: relative;
    }
    .shoppingcart table tbody tr td:first-of-type svg {
        width: 100px;
        height: 100px;
        display: block;
    }
    .shoppingcart table tbody tr td:first-of-type img {
        width: 25%;
        position: absolute;
        top: 62%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .shoppingcart table tbody tr td:first-of-type p {
        position: absolute;
        top: 26%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 8.8px;
        text-align: center;
    }
    .shoppingcart table tbody tr td:nth-of-type(2) p {
        margin: 8px 0;
    }
    .shoppingcart table tbody tr td img.t-shirt {
        width: 64px;
        position: relative;
        top: inherit;
        left: inherit;
        transform: none;
    }
}

@media only screen and (min-width: 768px) {
    .shoppingcart table {
        padding: 16px 24px;
        border-collapse: collapse;
    }
    .shoppingcart table thead tr th,
    .shoppingcart table tbody tr td {
        padding: 8px;
        border-right: 2px solid var(--light-blue);
    }
    .shoppingcart table tbody tr td {
        border-top: 2px solid var(--light-blue);
    }
    .shoppingcart table thead tr th:last-of-type,
    .shoppingcart table tbody tr td:last-of-type {
        border-right: none;
    }
    .shoppingcart table tbody tr td:first-of-type svg {
        width: 228px;
        height: 228px;
    }
    .shoppingcart table tbody tr td:first-of-type img {
        width: 30%;
    }
    .shoppingcart table tbody tr td:first-of-type p {
        top: 29%;
        font-size: 16px;
    }
    .shoppingcart table + p {
        text-align: center;
    }
    .shoppingcart > a:last-of-type {
        display: table;
        margin: 0 auto;
    }
}


/* Order */
.order {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.order form {
    max-width: 18.75rem;
    width: 100%;
    margin: 0 auto;

    display: grid; 
}

.order form label {
    margin: 0.8em 0 0.5em
}

.order form label:first-of-type {
    margin: 0.5em 0;
}

.order form input,
.order form select {
    padding: 0.5em;
    border: none;
    border-radius: .3rem;

    font-family: 'Mulish-Regular', sans-serif;
    font-weight: 400;
}

.order form select {
    margin: 0 0 1.5em;
}

.order form button {
    margin-top: 1rem;
    padding: .8rem;
}

.order form input.error,
.order form select.error {
    border: 0.11rem solid red;
    background-color: #fde7e7;
}

.order form input:valid,
.order form select:valid {
    border: 0.11rem solid #adff2f;
    background-color: #f7ffeb;
}

.order form input.error + p {
    margin: 0.5rem 0;
}


/* Confirmation */
.confirmation section {
    max-width: 330px;
    height: auto;
    margin: 80px auto;

    grid-template-rows: repeat(3, min-content);
    place-items: flex-start;
}

.confirmation h2 {
    text-align: left;
}

.confirmation section a {
    margin-top: 1rem;

    font-family: 'Mulish-Regular', sans-serif;
    font-weight: 400;
}

@media only screen and (min-width: 768px) {
    .confirmation {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


/* Support */
@supports not (appearance: none) {
    .design ul li input[type="radio"],
    .choose-size section input[type="radio"] {
        opacity: 0;
    }
}

@supports (cursor: pointer) {
    .design nav ul li > *,
    .design nav ul li label > * {
        cursor: pointer;
    }
}

@supports selector(:has(*)) {
    .design ul li:has(label:first-of-type input:checked) {
        border-radius: .5rem;
        background-color: var(--orange);
    }
    
    .design ul li:has(label:first-of-type input:checked) label:first-of-type svg {
        stroke: var(--white);
    }
    
    .design ul li:has(label:first-of-type input:checked) label:last-of-type {
        width: 100%;
        padding: 1.5rem 0 2rem;
        border-radius: .5rem .5rem 0 0;
    
        display: block;
    
        position: absolute;
        bottom: 3.625em;
        left: 0;
        z-index: -1;
    
        background-color: var(--light-blue);
    
        font-size: 1rem;
    }
    
    .design ul li:has(label:first-of-type input:checked) label:last-of-type span:first-of-type {
        padding: 0 1rem;
        margin-bottom: .5rem;
    
        display: block;
    
        font-size: 1rem;
        color: var(--dark-blue);
    }

    .design ul li:has(label:first-of-type input:checked) label:last-of-type input {
        padding: 0 1rem;
    
        color: var(--dark-blue);
    }

    @media only screen and (min-width: 768px) {
        .design ul li:has(label:first-of-type input:checked) {
            background-color: transparent;
        }
        
        .design ul li:has(label:first-of-type input:checked) label:first-of-type svg {
            stroke: var(--dark-blue)
        }

        .design ul li:has(label:first-of-type input:checked) label:last-of-type {
            padding: 8px 0;
            
            position: relative;
            bottom: inherit;
            left: inherit;
            z-index: 1;
        }

        .design ul li label:nth-of-type(2) span {
            margin: 8px 0;
            display: block;
            font-size: 16px;
            color: var(--dark-blue);
        }

        .design ul li:has(label:first-of-type input:checked) label:last-of-type {
            margin: 0;
            padding: 0;
        }

        .design ul li label:nth-of-type(2) #color {
            margin: 0;
        }
    }
}

@media not all and (min-resolution:.001dpcm) { 
    header nav { 
        padding: .5rem 2.875rem .5rem 1rem;
    }
}

@supports (-webkit-hyphens:none){ 
    header nav { 
        padding: .5rem 2.875rem .5rem 1rem;
    }
}